h1 {
  color: #;
  font-family: 'Unica One', cursive;
  text-align:left;
  margin: 70px;
  font-size: 70px;
  color: #51b5b3;
}
h3 {
  margin-left: 70px;
  margin-right:550px;
  font-family: 'Karla', sans-serif;
  text-align:left;

}
#dog {
  height: 714px;
  width: 474.5px;
  position: absolute;
  left: 750px;
  z-index: -1;

}
h2 {
  text-align:center;
  color:#C0C0C0;
  font-family: 'Unica One';
}
body {
  z-index: 1;
  background-size: 50% auto;


}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#theImage {
  border:6px solid #51b5b3;
  position: absolute;
  top: 900px;
  left: 100px;
  bottom: 400px

}

h4 {
color: #51b5b3;
font-size: 60px;
position: absolute;
top: 750px;
margin: 70px;
font-family: 'Unica One', cursive;




}
button {
  background-color: transparent;
  background-image: url(arrow2.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* put the height and width of your image here */
  height: 73px;
  width: 100px;
  border: none;
  image-align:center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.righthalf {
  background-color: #51b5b3;
}

#right {
  position: absolute;
  left: 500px;
  right: 30px;
  top: 1000px;
}
